*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    font-family:"Helveticah", Arial;
    font-size: 40px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
   /* float:left; */
    width: 100%;
    margin: 20px auto;
    height: 600px;
    background: white;
    justify-content: space-evenly;
    order: unset; 
    
}
header{
    width: 100%;
    height: 650px;
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(169, 97%, 76%, 0.589), hsla(229, 51%, 79%, 0.726)), url(../img/imagen3.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

h1{
    color: rgb(63, 100, 21);
    text-align: center;
    padding: 50px;
}

h2{
    color: rgb(12, 42, 82);
}

.contenedor-cuerpo{
    display: flex;
    justify-content: space-evenly;
}

.botton{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(221, 211, 172);
    background: rgb(59, 122, 122);
}
.inicio{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 20px;
    background: rgb(119, 223, 71);
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 5px 0px rgb(198, 219, 188);
    width: 90px; 
}  

.inicio{
    box-shadow: 0px 2px 0px rgb(80, 98, 136);
    background: rgb(221, 219, 102);
    text-align: center;
    margin-left: 100px;
}

.inicio{
    box-shadow: none;
}

/*footer*/

footer{
    background: rgb(29, 65, 95);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;   
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;  
}

.content-foo{
    text-align: center;   
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
}
